<section class="wrapper">
  <form class="form" [formGroup]="startGameForm" (ngSubmit)="startGame()">
    <div class="input-wrapper">
      <input type="text" class="name-field" formControlName="firstPlayer" #firstPlayerName>
      <input type="text"  class="name-field" formControlName="secondPlayer">
    </div>
    <button class="button submit-button">Start game</button>
  </form>
  <p class="warning" *ngIf="isSubmitted && (startGameForm.controls.firstPlayer.errors?.required || startGameForm.controls.secondPlayer.errors?.required)">Both fields should be filled</p>
</section>
