.score-block {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  min-width: 100px;
  text-align: center;
  &.active {
    &:after {
      position: absolute;
      bottom: -20px;
      content: 'Your turn';
      min-width: 100%;
      text-align: center;
    }
  }
}

.player-name {
  font-weight: bold;
  font-size: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.player-score {
  font-size: 48px;
  color: crimson;
}
