@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
}

body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  background-image: url("./assets/img/bckg.jpg");
  background-size: contain;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.button {
  margin-top: 14px;
  padding: 14px 30px;
  font-size: 22px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid black;
  &:active {
    opacity: 0.5;
  }
  &:hover, &:focus {
    background-color: black;
    color: #ffffff;
  }
}
